.process-operation-container {
  padding: 0.6em;
  margin-top: 4vh;
}
/* .process-operation-tabs-container {
    display: flex;
    justify-content: space-between;
}
.process-operation-tab {
    border: 0.2em solid darkgrey;
    background-color: aqua;
    padding: 0.2em 0.8em;
    font-size: 0.6em;
    display: flex;
    justify-content: space-evenly;
    min-width: 15em;
}
.close-img {
    width: 0.8em;
    margin-left: 0.6em;
} */
/* 00 */
